@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FF7415;
  --color-primary-600: #095DDC;
  --color-accent: #00B4D8;
  --color-bg: #FFFFFF;
  --color-surface: #F7F9FC;
  --color-text: #0B1A2B;
  --color-muted: #6B7280;
  --color-border: #E5E7EB;
  --color-success: #16A34A;
  --color-warning: #FACC15;
  --color-error: #DC2626;
  --color-info: #3B82F6;
}

/*  Dark Theme */
.dark {
  --color-primary: #FF7415;
  --color-primary-600: #3B82F6;
  --color-accent: #00B4D8;
  --color-bg: #0B0F19;
  --color-surface: #1C2433;
  --color-text: #F9FAFB;
  --color-muted: #9CA3AF;
  --color-border: #2D3748;
  --color-success: #22C55E;
  --color-warning: #EAB308;
  --color-error: #EF4444;
  --color-info: #60A5FA;
}